tos-questions {
  .answer-option {
    margin-left: 27px;
  }

  h3 {
    margin-top: 0;

    .label {
      font-size: 12px;
      position: relative;
      bottom: 4px;
    }
  }

  .questionnaire-btns {
    margin: 12px 6px 0;
  }
}
