forgotten-password-page {

  input {
    margin: auto;
    max-width: 330px;

    &[type="email"] {
      max-width: 370px;
    }

    &[type="password"] {
      max-width: 212px;
    }
  }

  .btn-container {
    margin-top: 10px;
  }

}
