@import '../../css/cvars';

$spinkit-spinner-margin: 0px auto !default;
$spinkit-size: 25px !default;
$spinkit-spinner-color: $knowhub-orange !default;

@import '../../../node_modules/SpinKit/scss/spinners/11-folding-cube';