<div>
    <div class="jumbotron">
        <h1 ng-bind="'ACCOUNT_CREDENTIALS_TITLE' | translate"></h1>
        <p ng-bind="'ACCOUNT_CREDENTIALS_SUBTITLE' | translate"></p>
    </div>

    <div class="content">

        <div ng-if="!$ctrl.isSocialProviderAuth()">
            <h2 ng-bind="'ACCOUNT_LOGIN_METHOD' | translate"></h2>
            <h4 ng-bind="'CREDENTIALS_SIGNED_IN_WITH_EMAIL_PASSWORD' | translate"></h4>
        </div>
        <div ng-if="$ctrl.isSocialProviderAuth()">
            <h2 ng-bind="'ACCOUNT_LOGIN_METHOD' | translate"></h2>
            <h4 ng-bind="('CREDENTIALS_SIGNED_IN_WITH_PROVIDER' | translate) + ' ' + $ctrl.authInfo.name"></h4>
        </div>

        <div ng-if="!$ctrl.isSocialProviderAuth()">
            <div>
                <h2 ng-bind="'CREDENTIALS_CHANGE_EMAIL' | translate"></h2>
                <form novalidate name="$ctrl.emailChangeForm">
                    <div class="form-group current-email">
                        <label class="control-label"
                               ng-bind="'CREDENTIALS_CURRENT_EMAIL' | translate"></label>
                        <p class="form-control-static" ng-bind="::$ctrl.authInfo.email"></p>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': $ctrl.emailChangeForm.userEmail.$touched && $ctrl.emailChangeForm.userEmail.$invalid}">
                        <label class="control-label" for="userEmail"
                               ng-bind="'CREDENTIALS_NEW_EMAIL' | translate"></label>
                        <input class="form-control" id="userEmail" name="userEmail" type="email"
                               ng-model="$ctrl.userEmail" required ng-email ng-not-user-email/>
                        <div class="help-block text-danger" ng-show="$ctrl.emailChangeForm.userEmail.$touched"
                             ng-messages="$ctrl.emailChangeForm.userEmail.$error">
                            <div ng-messages-include="common/validation/messages/common.html"></div>
                        </div>
                    </div>
                    <promise-button on-confirm="$ctrl.changeEmail" confirm-text-key="COMMON_CHANGE"
                                    form="$ctrl.emailChangeForm"></promise-button>
                </form>
            </div>

            <div>
                <h2 ng-bind="'CREDENTIALS_CHANGE_PASSWORD' | translate"></h2>
                <form novalidate name="$ctrl.passwordChangeForm">
                    <div class="form-group"
                         ng-class="{'has-error': $ctrl.passwordChangeForm.newUserPassword.$touched && $ctrl.passwordChangeForm.newUserPassword.$invalid}">
                        <label class="control-label" for="newUserPassword"
                               ng-bind="'CREDENTIALS_NEW_PASSWORD' | translate"></label>
                        <info-point placement="top-left" message-key="CREDENTIALS_PASSWORD_LENGTH"></info-point>
                        <input class="form-control" id="newUserPassword" name="newUserPassword" type="password"
                               ng-model="$ctrl.newUserPassword" required ng-password/>
                        <div class="help-block text-danger" ng-show="$ctrl.passwordChangeForm.newUserPassword.$touched"
                             ng-messages="$ctrl.passwordChangeForm.newUserPassword.$error">
                            <div ng-messages-include="common/validation/messages/common.html"></div>
                        </div>
                    </div>
                    <promise-button on-confirm="$ctrl.changePassword" confirm-text-key="COMMON_CHANGE"
                                    form="$ctrl.passwordChangeForm"></promise-button>
                </form>
            </div>
        </div>

        <div id="delete-account">
            <h2 ng-bind="'CREDENTIALS_DELETE_ACCOUNT' | translate"></h2>
            <p ng-bind-html="'CREDENTIALS_DELETE_ACCOUNT_TEXT' | translate"></p>
            <promise-button btn-style="danger" on-confirm="$ctrl.removeUser"
                            confirm-text-key="CREDENTIALS_DELETE_ACCOUNT"></promise-button>
        </div>
    </div>
</div>