tab-credentials {
  .container .check-password {
    padding: 60px 0;
  }
  
  .password {
    max-width: 212px;
    margin: auto;
  }

  .current-email {
    margin-bottom: 3px;

    p {
      padding: 0;
    }
  }
}