<update-title title="{{$ctrl.applicationName+' | '+('SECTION_FORGOTTEN_PASSWORD' | translate)}}"></update-title>
<update-meta name="description" content=""></update-meta>

<div class="container">
    <div ng-style="{display: $ctrl.isAppReady() ? 'block' : 'none'}" class="content">
        <div class="full-page-message">
            <div class="text-center">
                <img class="owl" mf-src="/common/images/owl-pink">
                <h2 class="section-heading" ng-bind="'FORGOTTEN_PASSWORD_TITLE' | translate"></h2>
                <hr class="primary">
            </div>
            <div class="text-center">
                <div ng-if="$ctrl.resetStatus === 'PENDING' || $ctrl.resetStatus === 'RESETTING'">
                    <h4 ng-bind-html="'FORGOTTEN_PASSWORD_RESET_EXPLANATION' | translate"></h4>
                    <form name="$ctrl.forgottenPasswordForm" novalidate>
                        <div class="form-group"
                             ng-class="{'has-error': $ctrl.forgottenPasswordForm.userEmail.$touched && $ctrl.forgottenPasswordForm.userEmail.$invalid}">
                            <label class="control-label" for="userEmail" ng-bind="'COMMON_EMAIL' | translate"></label>
                            <input type="email" name="userEmail" id="userEmail" class="form-control"
                                   ng-model="$ctrl.userEmail" required ng-email/>
                            <div ng-show="$ctrl.forgottenPasswordForm.userEmail.$touched"
                                 ng-messages="$ctrl.forgottenPasswordForm.userEmail.$error"
                                 class="help-block text-danger">
                                <div ng-messages-include="common/validation/messages/common.html"></div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': $ctrl.forgottenPasswordForm.newUserPassword.$touched && $ctrl.forgottenPasswordForm.newUserPassword.$invalid}">
                            <label class="control-label" for="newUserPassword"
                                   ng-bind="'FORGOTTEN_PASSWORD_NEW_PASSWORD' | translate"></label>
                            <info-point placement="top-left" message-key="CREDENTIALS_PASSWORD_LENGTH"></info-point>
                            <input type="password" name="newUserPassword" id="newUserPassword" class="form-control"
                                   ng-model="$ctrl.newUserPassword" required ng-password
                                   ng-change="$ctrl.revalidatePassword()"/>
                            <div ng-show="$ctrl.forgottenPasswordForm.newUserPassword.$touched"
                                 ng-messages="$ctrl.forgottenPasswordForm.newUserPassword.$error"
                                 class="help-block text-danger">
                                <div ng-messages-include="common/validation/messages/common.html"></div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': $ctrl.forgottenPasswordForm.newUserPasswordRepeated.$touched && $ctrl.forgottenPasswordForm.newUserPasswordRepeated.$invalid}">
                            <label class="control-label" for="newUserPasswordRepeated"
                                   ng-bind="'FORGOTTEN_PASSWORD_CONFIRM_NEW_PASSWORD' | translate"></label>
                            <input class="form-control" id="newUserPasswordRepeated" name="newUserPasswordRepeated"
                                   type="password" ng-model="$ctrl.newUserPasswordRepeated" required ng-password
                                   ng-must-match="{{$ctrl.newUserPassword}}"/>
                            <div class="help-block text-danger"
                                 ng-show="$ctrl.forgottenPasswordForm.newUserPasswordRepeated.$touched"
                                 ng-messages="$ctrl.forgottenPasswordForm.newUserPasswordRepeated.$error">
                                <div ng-messages-include="common/validation/messages/common.html"></div>
                            </div>
                        </div>
                        <div class="text-center btn-container">
                            <promise-button on-confirm="$ctrl.resetPassword" confirm-text-key="FORGOTTEN_PASSWORD_RESET"
                                            form="$ctrl.forgottenPasswordForm"></promise-button>
                        </div>
                    </form>
                </div>

                <div ng-if="$ctrl.resetStatus === 'VERIFY' || $ctrl.resetStatus === 'VERIFYING'">
                    <h4 ng-bind-html="'FORGOTTEN_PASSWORD_VERIFY_EXPLANATION' | translate"></h4>
                    <form name="$ctrl.verificationForm" novalidate>
                        <div class="form-group"
                             ng-class="{'has-error': $ctrl.verificationForm.verificationCode.$touched && $ctrl.verificationForm.verificationCode.$invalid}">
                            <label class="control-label" for="verificationCode" class="sr-only"
                                   ng-bind="'FORGOTTEN_PASSWORD_VERIFICATION_CODE' | translate"></label>
                            <input id="verificationCode" name="verificationCode" class="form-control" type="text"
                                   ng-model="$ctrl.verificationToken" required>
                        </div>
                        <div class="text-center btn-container">
                            <promise-button on-confirm="$ctrl.verify" confirm-text-key="FORGOTTEN_PASSWORD_VERIFY"
                                            form="$ctrl.verificationForm"></promise-button>
                        </div>
                    </form>
                </div>

                <div ng-if="$ctrl.resetStatus === 'VERIFIED'">
                    <h4 class="text-center text-success" ng-bind="'FORGOTTEN_PASSWORD_RESET_COMPLETE' | translate"></h4>
                    <div class="text-center btn-container">
                        <button class="btn btn-primary" ng-click="$ctrl.goToSignIn()"
                                ng-bind="'FORGOTTEN_PASSWORD_GO_TO_LOGIN' | translate"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>